@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), sans-serif;
  
  --color-primary: #d3fb17;
  --color-primary-foreground: #000000;
  
  --color-background: #000000;
  --color-foreground: #ffffff;
  
  --color-card: #0a0a0a;
  --color-card-foreground: #ffffff;
  
  --color-border: #262626;
  --color-muted: #262626;
  --color-muted-foreground: #a3a3a3;
}

@layer base {
  ::selection {
    background-color: var(--color-primary);
    color: black;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}
